<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
  <div class="m-4">
      <h2 th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'">Masuk sebagai</h2>
    <h2>Selamat datang di PergiPergi!</h2>
    <div class ="d-flex justify-content-center">
      <a th:href="@{/agensi/viewall}" class="mx-2 btn btn-primary">View All Agensi</a>
      <a th:href="@{/agensi/add}" class="mx-2 btn btn-outline-primary">Add Agensi</a>
    </div>
    <div class ="my-3 d-flex justify-content-center">
      <a th:href="@{/destinasi/viewall}" class="mx-2 btn btn-primary">View All Destinasi</a>
        <a th:if="${currRole.equals('Agen')}" th:href="@{/destinasi/add}" class="mx-2 btn btn-outline-primary">Add Destinasi</a>
    </div>
      <div class ="my-3 d-flex justify-content-center">
          <a th:if="${currRole.equals('Admin')}" th:href="@{/user/viewall}" class="mx-2 btn btn-primary">View All User</a>
      </div>
      <div class ="my-3 d-flex justify-content-center">
          <a th:href="@{/user/ubah-password}" class="mx-2 btn btn-primary">Ubah Password</a>
      </div>
  </div>
</div>
<div class="my-3 d-flex justify-content-center">
    <a th:if="${currRole.equals('Admin')}" th:href="@{/user/add}" class ="mx-2 btn btn-outline-primary">Tambah user</a>
</div>
<!--<div class="container">-->
<!--  <div class="card m-4 p-4">-->
<!--    <div class="card-body">-->
<!--      <div class="justify-content-center">-->
<!--        <h2>Welcome to Pergi Pergi!</h2>-->
<!--        <br>-->
<!--        <a class="btn btn-primary" href="/agensi/add">Tambah Agensi</a>-->
<!--        <a class="btn btn-primary" href="/agensi/viewall">Lihat Semua</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>